.container{
	display: flex;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(0%, 50%); 
  }
}
  .fixed{
	width: 200px;
  }
  .flex-item{
	flex-grow: 1;
  }
  button{
  height: 200px;
  width: 200px;
  font-size : 30px;
  }
  body {
  background-color: #D9534F;
  }
  h1{
  color: white;
  text-decoration: underline;
  }
  p {
  text-align: center;
  }
  button{
	margin: 0.1px;
  }